*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 898px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 750px;
  background-color: rgb(29, 28, 28);
  color: rgb(223, 220, 220);
}
.home h1{
  font-size: 60px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 912px) {
  .home h1{
    font-size: 40px;
  }
}
@media (max-width: 616px) {
  .home h1{
    font-size: 30px;
  }
}
@media (max-width: 616px) {
  .home p{
    font-size: 20px;
  }
}
@media (max-width: 912px) {
  .home p{
    font-size: 30px;
  }
}
.home p{
  font-size: 30px;
  width: 60%;
  text-align: center;
}
.home button{
  margin-top: 20px;
  background-color:rgb(29, 28, 28) ;
  color: rgb(223, 220, 220);
  font-size: 20px;
  padding: 15px;
  border-radius: 40px;
  border: 1px solid rgb(223, 220, 220);
  cursor: pointer;
}
.home button:hover{
  border: 1px solid black;
  background-color: rgb(223, 220, 220);
  color: black;
}
.allbook{
  padding: 50px 0;
  position: relative;
  background-color: rgb(29, 28, 28);
  color: rgb(223, 220, 220);
}
.text{
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  .text{
    font-size: 1.5rem;
    text-align: center;
  }
}
.addbook{
  padding: 50px 0;
  position: relative;
  background-color: rgb(29, 28, 28);
  color: rgb(223, 220, 220);
}
.book{
  padding: 180px 0;
  background-color: rgb(29, 28, 28);
  color: rgb(223, 220, 220);
}
@media (max-width: 968px) {
  .book{
    padding-left: 10px;
  }
}
@media (max-width: 584px) {
  .book{
    padding-left: 0;
  }
}
@media (max-width: 514px) {
  .modal{
    transform: "translate(30%, 30%)";
    overflow: hidden;
    width: 400px;
  }
}
@media (max-width: 474px) {
  .modal{
    transform: "translate(20%, 20%)";
    overflow-x: scroll;
  }
}
.loader{
  padding-top: 30px;
  height: 500px;
}

.container{
  padding-left: 200px;
  padding-right: 100px;
}
@media (max-width: 968px) {
  .container{
    padding: 0;
  }
}
@media (max-width: 968px) {
  .maingrid{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 6px;
  }
}
@media (max-width: 968px) {
  .grid1{
    width: 100%;
  }
}
@media (max-width: 968px) {
  .grid2{
    width: 100%;
  }
}


